{
  "presets": [
    "stage-1",
    "react"
  ],
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "style": "css"
      }
    ],
    [
      "styled-components"
    ],
    "babel-root-slash-import"
  ]
}
