{
  "plugins": [
    "styled-components",
    "module:babel-root-slash-import"
  ],
  "env": {
    "test": {
      "presets": [
        "@babel/preset-env",
        "@babel/preset-es2015",
        "@babel/preset-react"
      ]
    }
  }
}
