{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "parserOptions": {
    "allowImportExportEverywhere": true
  },
  "plugins": [
    "meteor",
    "react"
  ],
  "settings": {
    "import/resolver": "meteor"
  },
  "globals": {
    "Package": true,
  },
  "extends": [
    "airbnb",
    "plugin:meteor/recommended"
  ],
  "rules": {
    "react/prop-types": 0,
    "react/no-direct-mutation-state": 0,
    "react/no-find-dom-node": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-unused-vars": ["error", { "vars": "all", "args": "after-used", "ignoreRestSiblings": true, "varsIgnorePattern": "^_" }],
    "max-len": 0,
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0,
    "import/extensions": [
      "off",
      "never"
    ],
    "no-console": "off",
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_id",
          "_ensureIndex",
          "_verifyEmailToken",
          "_resetPasswordToken",
          "_name",
          "__parseValue",
          "__serialize",
          "__parseLiteral",
          "_storedLoginToken",
          "_hashLoginToken",
          "_tokenExpiration"
        ]
      }
    ]
  }
}
