// see ui/layouts/_default-layout.scss

.Header {
  position: fixed;
  top: 0;
  left: 0;
  height: $header-height;
  z-index: 2;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid $grey-border;

  display: flex;
  align-items: center;
  padding: 0 20px;
}
.logo {
  height: 30px;
  margin-top: 5px;
}
/* .logo {
  display: none;

  // Tablet view
  @media screen and (min-width: 385px) {
    display: block;
  }
}

.icon {
  display: block;

  // Tablet view
  @media screen and (min-width: 385px) {
    display: none;
  }
} */
