.DefaultLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  // min-width: 100%;
  width: 100%;
  padding-top: $header-height;

  // see ui/components/header/_header.scss

  main {
    flex: 1;
    margin: 0 auto;
    // max-width: 600px;
    width: 100%;
  }
}
